body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

.main-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-button {
  background-color: transparent;
  border: none;
  border-radius: 5em;
}

.left-button {
  background-color: transparent;
  border: none;
  border-radius: 5em;
}

.right-arrow {
}

.right-arrow:hover {
  color: grey;
}

.right-arrow:active {
  border-radius: 1em;
  color: grey;
  box-shadow: 0px 0px 0.2em black;
  transform: translateY(0.1em);
}

.left-arrow {
}

.left-arrow:hover {
  color: grey;
}

.left-arrow:active {
  border-radius: 1em;
  color: grey;
  box-shadow: 0px 0px 0.2em black;
  transform: translateY(0.1em);
}

.bottom-box {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.bottom-button-1 {
  background-color: transparent;
  border-radius: 1em;
}

.bottom-button-2 {
  background-color: transparent;
  border-radius: 1em;
}

.bottom-button-3 {
  background-color: transparent;
  border-radius: 1em;
}

.bottom-button-4 {
  background-color: transparent;
  border-radius: 1em;
}

.bottom-button-5 {
  background-color: transparent;
  border-radius: 1em;
}

.bottom-icon-1 {
  opacity: 0.3;
  margin: 0em 1em;
  color: white;
}

.bottom-icon-2 {
  opacity: 0.3;
  margin: 0em 1em;
  color: white;
}

.bottom-icon-3 {
  opacity: 0.3;
  margin: 0em 1em;
  color: white;
}

.bottom-icon-4 {
  opacity: 0.3;
  margin: 0em 1em;
  color: white;
}

.bottom-icon-5 {
  opacity: 0.3;
  margin: 0em 1em;
  color: white;
}
